@import url("./font.css");

:root {
    --text-color: #444655;
    --primary-color: #007bff;
    --attention-color: #f12e5e;
    --secondary-color: #0061e0;
    --success-color: #22c55e;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'shabnam', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.5;
}

a {
    -webkit-text-fill-color: var(--text-color);
    -webkit-tap-highlight-color: var(--text-color);
}

body {
    background-color: #f3f4f6;
    margin: 0;
    color: var(--text-color)
}

.container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: auto;
    margin-left: auto;
}



@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 417px;
    }
}
