@import url('base.css');
@import url('pagination.css');

.list-wrapper {
    display: flex;
    gap: 20px;
}

.sider-filter {
    width: 250px;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    padding: 12px 14px;
}

.filter-head {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.left-sider {
    width: 83%;
}

.all-products-list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.products-empty {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 22px;
}

.filter-title {
    font-family: 'shabnam-bold';
}

/* 
    available filter
*/

.available-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.available-btn {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: all .2s ease;
}

.available-btn::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #888;
    transition: all .2s ease;
}

#available-input:checked + .available-btn {
    background-color: var(--primary-color);
}

#available-input:checked + .available-btn::after {
    transform: translateX(-100%);
}

#available-input {
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
}


/* 
    price filter
*/

.price-filter {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.slider-container {
    width: 100%;
    height: 6px;
    position: relative;
    background: #e4e4e4;
    border-radius: 5px;
    margin-top: 20px;
}

.slider-container .price-slider {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
    -webkit-appearance: none;
}

.price-input {
    margin-top: 35px;
}

.price-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.price-field span {
    font-size: 14px;
}

.price-field input {
    width: 150px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
}

.price-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 
    brand filter
*/

.brand-filter,
.category-filter {
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.brand-field,
.category-field {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.brand-field label,
.category-field label {
    cursor: pointer;
}

.brand-field span
.category-field span {
    font-size: 14px;
}

.brand-field input,
.category-field input {
    cursor: pointer;
}

/* 
    products order
*/

.products-order {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 16px 10px;
    font-size: 14px;
}

.products-order-title {
    color: #555;
    margin-left: 50px;
}

.orders {
    display: flex;
    align-items: center;
    gap: 55px;
    list-style: none;
}

.order {
    cursor: pointer;
}

.order.active {
    color: var(--primary-color);
}


/* 
    ============ mobile filter =============
*/

.mobile-filter-wrapper {
    margin-bottom: 20px;
    display: none;
}

/* .filter-mobile {
    width: 20rem;
    position: fixed;
    top: 0;
    left: -23rem;
    bottom: 0;
    background-color: #fff;
    padding: 1rem 1.5rem 2rem .5rem;
    border-radius: 0 1rem 1rem 0;
    transition: all ease 0.4s;
    z-index: 1000;
    overflow: auto;
} */

.close-wrapper {
    position: relative;
    margin-bottom: 10px;
    display: none;
}

.close-btn {
    cursor: pointer;
}

/* .filter-mobile * {
    font-size: 14px;
} */

.filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.filter-toggle,
.ordering-toggle {
    font-size: 12px;
    background: #fff;
    padding: 5px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.mobile-ordering {
    position: relative;
}

.current-ordering {
    font-size: 12px;
}

.ordering-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chevron-icon {
    width: 15px;
    height: 15px;
}

.mobile-orders {
    width: 150px;
    background: #fff;
    list-style: none;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.mobile-orders--show {
    opacity: 1;
    visibility: visible;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.cover--show {
    display: block;
}

/* 
    ============ media queries =============
*/

@media (max-width: 1024px) {
    .sider-filter * {
        font-size: 12px;
    }

    .products-order-title {
        margin-left: 20px;
        font-size: 12px;
    }

    .orders {
        gap: 20px;
    }

    .order {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .mobile-filter-wrapper {
        display: block;
    }
    .products-order {
        display: none;
    }
    .left-sider {
        width: 100%;
    }
    .pagination-prev-btn, .page-btn, .pagination-next-btn {
        font-size: 12px;
        width: 40px;
        height: 40px;
    }

    .sider-filter {
        width: 20rem;
        position: fixed;
        top: 0;
        left: -23rem;
        bottom: 0;
        background-color: #fff;
        padding: 1rem 1.5rem 2rem .5rem;
        border-radius: 0 1rem 1rem 0;
        transition: all ease 0.4s;
        z-index: 1000;
        overflow: auto;
    }
    .close-wrapper {
        display: block;
    }
    .filter-mobile--open {
        left: 0;
    }
}

@media (max-width: 415px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .all-products-list {
        gap: 5px;
        justify-content: center;
    }
    .sider-filter {
        width: 15rem;
        height: auto;
    }
}

