{% extends 'parent/base.html' %}
{% load static %}
{% load order_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/order.css' %}">
{% endblock %}
{% block title %}
    اطلاعات شخصی
{% endblock %}
{% block body %}
    <div class="container">
        <div class="user-info">
            <h2 class="user-info-title">اطلاعات شخصی </h2>

            <form method="post">
                {% csrf_token %}
                <div class="info-wrapper">
                    <div class="input-wrapper">
                        <label for="first_name">نام:</label>
                        <input type="text" id="first_name" name="first_name" maxlength="255" required {% if form.first_name.value %} value="{{ form.first_name.value }}" {% endif %}>
                    </div>
                    <div class="input-wrapper">
                        <label for="last_name">نام خانوادگی:</label>
                        <input type="text" id="last_name" name="last_name" maxlength="255" required {% if form.first_name.value %} value="{{ form.last_name.value }}" {% endif %}>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="input-wrapper">
                        <label for="postal_code">کد پستی:</label>
                        <input type="text" id="postal_code" name="postal_code" maxlength="11" required {% if form.first_name.value %} value="{{ form.postal_code.value }}" {% endif %}>
                    </div>
                    <div class="input-wrapper">
                        <label for="phone">تلفن همراه:</label>
                        <input type="text" id="phone" name="phone" maxlength="255" required {% if form.first_name.value %} value="{{ form.phone.value }}" {% endif %}>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="input-wrapper">
                        <label for="province">استان :</label>
                        <input type="text" id="province" name="province" maxlength="11" required {% if form.first_name.value %} value="{{ form.province.value }}" {% endif %}>
                    </div>
                    <div class="input-wrapper">
                        <label for="city">شهر :</label>
                        <input type="text" id="city" name="city" maxlength="255" required {% if form.first_name.value %} value="{{ form.city.value }}" {% endif %}>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="input-wrapper">
                        <label for="address">آدرس:</label>
                        {% nospaces %}
                        <textarea name="address" id="address" rows="3" cols="10">
                            {% if form.address.value %}
                                {{ form.address.value }}
                            {% endif %}
                        </textarea>
                        {% endnospaces %}
                    </div>
                </div>
                <button class="submit-btn" type="submit">ثبت اطلاعات</button>
            </form>
        </div>
    </div>
{% endblock %}